<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>235675289949-ispkv0d5gjqi2lk2i2bprq84jjaikbi0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.235675289949-ispkv0d5gjqi2lk2i2bprq84jjaikbi0</string>
	<key>API_KEY</key>
	<string>AIzaSyBLNmFFz_d9XbiMlbDAkHaVid0HMS0GYDY</string>
	<key>GCM_SENDER_ID</key>
	<string>235675289949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scribbles</string>
	<key>PROJECT_ID</key>
	<string>myshop-maak47</string>
	<key>STORAGE_BUCKET</key>
	<string>myshop-maak47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:235675289949:ios:c1546a935c2ceaaee680b4</string>
	<key>DATABASE_URL</key>
	<string>https://myshop-maak47-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>